* {
    user-select: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: rgba(0,0,0,0.75);
}


#container {
    position: absolute;
    top: 2vw;
    left: -0.6vw;
}
.health-icon {
    position: absolute;
    top: 49.8vw;
    left: 2.5vw;
    padding: .3vw 1.8vw .3vw .3vw;
    border-radius: .3vw;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.346);
    background-color: rgba(255, 255, 255, 0.346);
    -webkit-border-radius: .3vw;
    -moz-border-radius: .3vw;
    -ms-border-radius: .3vw;
    -o-border-radius: .3vw;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.health {
    position: absolute;
    top: 50.2vw;
    left: 4.2vw;
    color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#vida {
    position: absolute;
    left: -1vw;
}


.food-icon {
    position: absolute;
    top: 47.14vw;
    left: 3.3vw;
    padding: .3vw 1.8vw .3vw .3vw;
    border-radius: .3vw;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.346);
    background-color: rgba(255, 255, 255, 0.346);
    -webkit-border-radius: .3vw;
    -moz-border-radius: .3vw;
    -ms-border-radius: .3vw;
    -o-border-radius: .3vw;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.food {
    position: absolute;
    top: 47.5vw;
    left: 4.8vw;
    color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#comida {
    position: absolute;
    top: 2.78vw;
    left: 2.4vw;
}

.water-icon {
    position: absolute;
    top: 47.18vw;
    left: 4vw;
    padding: .3vw 1.8vw .3vw .3vw;
    border-radius: .3vw;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.346);
    background-color: rgba(255, 255, 255, 0.346);
    -webkit-border-radius: .3vw;
    -moz-border-radius: .3vw;
    -ms-border-radius: .3vw;
    -o-border-radius: .3vw;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.water {
    position: absolute;
    top: 47.46vw;
    left: 5.3vw;
    color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#agua {
    position: absolute;
    top: 2.78vw;
    left: 5.8vw;
}

.air-icon {
    position: absolute;
    top: 47.2vw;
    left: 7.9vw;
    padding: .3vw 1.8vw .3vw .3vw;
    border-radius: .3vw;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.346);
    background-color: rgba(255, 255, 255, 0.346);
    -webkit-border-radius: .3vw;
    -moz-border-radius: .3vw;
    -ms-border-radius: .3vw;
    -o-border-radius: .3vw;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.air {
    position: absolute;
    top: 47.6vw;
    left: 9.6vw;
    color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#aire {
    position: absolute;
    top: 2.78vw;
    left: 5.8vw;
}

@media screen and (max-width: 1600px) {
    .health-icon {
        position: absolute;
        top: 51.5vw;
        left: 3.1vw;
        padding: .3vw 1.8vw .3vw .3vw;
        border-radius: .3vw;
        color: white;
        transform: scale(1.2);
        box-shadow: -4px 4px 3px -1px rgba(0,0,0,0.75);
        background-color: black;
        -webkit-border-radius: .3vw;
        -moz-border-radius: .3vw;
        -ms-border-radius: .3vw;
        -o-border-radius: .3vw;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    .health {
        position: absolute;
        top: 51.8vw;
        left: 4.6vw;
        color: white;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .food-icon {
        position: absolute;
        top: 49.24vw;
        left: 4.5vw;
        padding: .3vw 1.8vw .3vw .3vw;
        border-radius: .3vw;
        color: white;
        transform: scale(1.2);
        box-shadow: -4px 4px 3px -1px rgba(0,0,0,0.75);
        background-color: black;
        -webkit-border-radius: .3vw;
        -moz-border-radius: .3vw;
        -ms-border-radius: .3vw;
        -o-border-radius: .3vw;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    
    .food {
        position: absolute;
        top: 49.53vw;
        left: 5.84vw;
        color: white;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    #comida {
        position: absolute;
        top: 2.78vw;
        left: 2.4vw;
    }
    
    .water-icon {
        position: absolute;
        top: 49.3vw;
        left: 5.5vw;
        padding: .3vw 1.8vw .3vw .3vw;
        border-radius: .3vw;
        color: white;
        transform: scale(1.2);
        box-shadow: -4px 4px 3px -1px rgba(0,0,0,0.75);
        background-color: black;
        -webkit-border-radius: .3vw;
        -moz-border-radius: .3vw;
        -ms-border-radius: .3vw;
        -o-border-radius: .3vw;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    
    .water {
        position: absolute;
        top: 49.53vw;
        left: 6.6vw;
        color: white;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
}